E:\C:\Users\Jacob\Documents\Royal Guards\my-npm-package\discord-bot-generator\src
E:\c:\Users\Jacob\Documents\Royal Guards\my-npm-package\discord-bot-generator\test
E:\c:\Users\Jacob\Documents\Royal Guards\my-npm-package\discord-bot-generator\lib\templates\client\bot.js
